
JWT_SECRET=secret


MONGO_URI=mongodb://razaaliwebdev:root@ac-3vt3syv-shard-00-00.dqkw4fx.mongodb.net:27017,ac-3vt3syv-shard-00-01.dqkw4fx.mongodb.net:27017,ac-3vt3syv-shard-00-02.dqkw4fx.mongodb.net:27017/myAuth_DB?ssl=true&replicaSet=atlas-j28uso-shard-0&authSource=admin&retryWrites=true&w=majority&appName=Cluster0